<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'Stylesheet.css' %}"/>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <title>Our Staff</title>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-blue fixed-top"
      id="mainNav"
    >
      <div class="container px-4">
       <a class="navbar-brand" href="{% url 'home' %}">Delta Soft</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
         <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'pricing' %}">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'staff' %}">Staff</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <h2 id="headingText">Meet our staff!</h2>

    <div id="staffSection" class="container px-4">
      <div class="row gx-5">
        <div id="item" class="col">
          <div class="p-3">
            <img
              src="https://www.w3schools.com/howto/img_avatar.png"
              alt="avatar1"
              width="150px"
              height="150px"
              id="avtr"
            />
            <h3>Killua</h3>
            <p>Owner</p>
          </div>
        </div>
        <div id="item" class="col">
          <div class="p-3">
            <img
              src="https://www.w3schools.com/howto/img_avatar.png"
              alt="avatar2"
              width="150px"
              height="150px"
              id="avtr"
            />
            <h3>Raditz</h3>
            <p>Admin</p>
          </div>
        </div>
        <div id="item" class="col">
          <div class="p-3">
            <img
              src="https://www.w3schools.com/howto/img_avatar.png"
              alt="avatar3"
              width="150px"
              height="150px"
              id="avtr"
            />
            <h3>Mikel</h3>
            <p>Supervisor</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
